body {
	font: bold 20px Helvetica, Arial, sans-serif;
	margin: 0;
}
dl {
	margin: 0;
	min-height: 1px;
	overflow: hidden;
	padding: 24px 0 0 0;
	position: relative;
}
dt, .fakeHeader {
	background: #B8C1C8;
	border-bottom: 1px solid #989EA4;
	border-top: 1px solid #717D85;
	color: #FFF;
	font: bold 18px/21px Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 2px 0 0 12px;
	position: absolute;
	text-shadow: 0 1px #646A6E;
	-moz-text-shadow: 0 1px #646A6E;
	-webkit-text-shadow: 0 1px #646A6E;
}
dt {
	bottom: auto;
	min-height: 1px;
	top: 0;
	width: 273px;
}
.fakeHeader {
	width: 273px;
	z-index: 1000;
}

[data-ios="true"] dt,
[data-ios="true"] .fakeHeader {
	width: 288px; /*scrollbars aren't visible in iOS devices, so make the headers wider */
}

.fakeHeader.hidden {
	visibility: hidden;
}
dl.animated dt {
	bottom: 0;
	top: auto;
}
dd {
	font: bold 20px/45px Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0 0 0 12px;
	white-space: nowrap;
}
dd + dd {
	border-top: 1px solid #CCC;
}
.listWrapper {
	height: 300px;
	margin: 100px;
	overflow: visible;
	position: relative;
	width: 300px;
	zoom: 1;
}
.listContainer {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	width: 100%;
}
